body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 0;
  padding: 50px 20px;
}

.logo {
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.main-container {
  /* 
  all containers fill the space between the header & footer 
  */
  display: flex;
  flex-direction: column;
  /* fill the (margin: auto;) space of the footer */
  flex: 1;
  background-color: white;
}

.first, .second,
.third, .fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 50px;
}

.first {
  background-color: #1f2937;
  color: white;
  gap: 50px;
}

.hpb {
  display: flex;
  flex-direction: column;
  width: 400px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}



.big-image {
  width: 400px;
  height: 200px;
  background-color: #e5e7eb;
}

.place-holder {
  text-align: center;
}


.second {
  color: #1f2937;
  flex-direction: column;
}

h2 {
  font-size: 32px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}
.card {
  max-width: 200px;
}

.small-image {
  width: 200px;
  height: 200px;
  border-color: #3882f6;
  border: 4px solid;
  border-radius: 4px;
  margin-bottom: 20px;
}

.text {
  text-align: center;
}


.third {
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  font-family: Italic;
  font-size: 36px;
}

.quote {
  max-width: 900px;
}

.writer {
  display: flex;
  justify-content: flex-end;
}

.smaller-fourth {
  display: flex;
  gap: 100px;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 50px 100px;
}

.call {
  display: flex;
  flex-direction: column;
  padding: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
}

.btn2 {
  border-color: white;
  border: 2px solid;
}

.footer {
  background-color: #1f2937;
  color: white;
  margin-top: auto; /* Keeps the footer at the bottom */
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}